{% extends 'base.html' %}

{% load static %}
<style>
      .img{
            text-align: right;
            justify-content: right;
            display: flex;
            align-content: flex-start;
            
        }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Al-niima</title>
</head>
     {% block content %}
     
    <marquee id="mar" direction="up">
    <h2>Join Al-ni'ima to <br>know your problem <br> and your solution</h2>
    </marquee>

</div>
<img class="img" src="{% static 'static/assets/images/h.jpg' %}">

   {% endblock content %}
