{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al-Ni'ima</title>
    <link rel="stylesheet" href="html/al.css">
</head>
<body>
    <header>
        <div id="header-contents">
            <h1>Al-Ni'ima Health Care</h1>
            <h2>contact us at : 09075018103 </h2>
        </div>
    </header>

    <div id="int">
        <h2 id="n">Al-ni'ima is a best place <br>that we meet with doctor's 
        <br> to solve your problems</h2>
    </div>
    <center>
        <div id="l1">
            <h2>Log into your account</h2>
            <form id="fr">
                <br>
            mobile number or email
            <br>
            <input type="number/email" placeholder="mobile number or email">
            <br>
            password
            <br>
            <input type="number/email" placeholder="password">
            <br>
            </form>
         </div>
         <br>
         <div id="lg">
            <submit><a href="html/home.html" id="bb">Login</a></submit>
           </div>
           <br>
 <p id="fo"><a href="html/for.html" id="aa">Forgot password?</a></p>
 <br>
 <button id="cre"><a href="html/cre.html" id="bb">Create new account</a></button>
     
 
  </center>         
    
        

        
</body>    
</html>
</body>
</html>